* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  /* width: 25%; */
}

figcaption {
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
}

/* Header and Navigation Bar */
#header {
  /* display: block; */
  width: 100%;
  /* position: relative; */
  /* padding: 0px 4vw; */
  line-height: 60px;
  /* z-index: 9999; */
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  /* margin-top: 50px; */
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent; */
}

#header .logo {
  /* display: inline-block;
  font-size: 30px;
  margin-right: 60px; */
  padding-top: 23px;
  /* padding-left: 86px; */
  width: 136px;
  margin-bottom: -25px;
}

#header p {
  /* display: inline-block;
  position: absolute;
  margin-left: 11px;
  top: 15px;
  color: slateblue; */
  text-align: center;
  font-size: 1.1em;
}

.center {
  display: block;
  margin: auto;
}

/* #header .title {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: larger;
} */

/* Body */
.main-content {
  /* margin-top: 70px; */
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.main-content .content {
  display: flex;
  align-items: center;
  /* margin-left: 100px; */
}

.main-content .content-special {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-content .content .item {
  flex: 0 50%;
  margin: 40px 80px;
}

.main-content .content-special .item-special {
  flex: 0 40%;
  margin: 0 1vw;
  margin-bottom: 1vw;
  /* height: 100%; */
}

.main-content .content .para {
  /* font-size: 1.5em; */
  font-size: 1.7vw;
}

.main-content .content-first {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content .content-first .item-first {
  width: 70%;
}

.main-content .content-last {
  display: flex;
  margin: 4vw 1vw;
}
.main-content .content-last .item {
  margin: -1vw 1vw;
}

/* Footer */
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 0px;
  border-color: #fff;
  background-color: #fff;
}

.footer-link {
  margin-right: 15px;
  margin-left: 15px;
  color: #6b6b6b;
  font-size: 12px;
  text-decoration: none;
}

.footer-link:hover {
  color: #ababab;
}

.footer-list {
  padding-top: 29px;
  padding-bottom: 29px;
}

.wrap {
  max-width: 700px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2px;
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  text-align: center;
}

@media (max-width: 1000px) {
  .main-content .content {
    margin: 4vw 4vw;
    justify-content: space-between;
  }

  .main-content .content .item {
    flex: 0 48%;
    margin: 0;
  }

  .main-content .content .para {
    font-size: 2vw;
  }

  figcaption {
    font-size: 1.6vw;
  }
}

@media (max-width: 767px) {
  .footer-link {
    display: inline-block;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  figcaption {
    font-size: 1.8vw;
  }
}
